---
title: Welcome to CliqueMe
---

<div id="progress" data-0="width:0%;background:hsl(200, 100%, 50%);" data-end="width:100%;background:hsl(920, 100%, 50%);"></div>

<div id="browser" data-0="opacity:1;top:3%;transform:rotate(0deg);transform-origin:0 0;" data-500="opacity:0;top:-10%;transform:rotate(-90deg);">
	<h1>Welcome to CliqueMe</h1>
	<p>
		<%= image_tag 'browser.png' %>
	</p>
</div>

<div id="transform" data-500="transform:scale(0) rotate(0deg);" data-1000="transform:scale(1) rotate(1440deg);opacity:1;" data-1600="" data-1700="transform:scale(5) rotate(3240deg);opacity:0;">
	<img src="images/cliq-profile.png" style="width: 200px;">
</div>

<div id="properties" data-1700="top:100%;" data-2200="top:0%;" data-3000="display:block;" data-3700="top:-100%;display:none;">
	<p>
		<%= image_tag 'cliq-suggested.png' %>
	</p>
</div>

<div id="easing_wrapper" data-0="display:none;" data-3900="display:block;" data-4900="background:rgba(0, 0, 0, 0);color[swing]:rgb(0,0,0);" data-5900="background:rgba(0,0,0,1);color:rgb(255,255,255);" data-10000="top:0%;" data-12000="top:-100%;">
	<div id="easing" data-3900="left:100%" data-4600="left:25%;">
		<h2>Newsfeed</h2>
		<img src="images/cliq-newsfeed.png" style="width: 300px;">
		<p data-5900="opacity:0;font-size:100%;" data-6500="opacity:1;font-size:150%;">Check to see the most recent activities</p>
		<p>let me dim the <span data-3900="" data-4900="color[swing]:rgb(0,0,0);" data-5900="color:rgb(255,255,0);">lights</span> for this one...</p>
	</div>

	<div class="drop" data-6500="left:15%;bottom:100%;" data-9500="bottom:0%;">linear</div>
	<div class="drop" data-6500="left:25%;bottom[quadratic]:100%;" data-9500="bottom:0%;">Quadratic</div>
	<div class="drop" data-6500="left:35%;bottom[cubic]:100%;" data-9500="bottom:0%;">cubic</div>
	<div class="drop" data-6500="left:45%;bottom[swing]:100%;" data-9500="bottom:0%;">swing</div>
	<div class="drop" data-6500="left:55%;bottom[WTF]:100%;" data-9500="bottom:0%;">WTF</div>
	<div class="drop" data-6500="left:65%;bottom[inverted]:100%;" data-9500="bottom:0%;">inverted</div>
	<div class="drop" data-6500="left:75%;bottom[bounce]:100%;" data-9500="bottom:0%;">bounce</div>
</div>

<div id="download" data-9500="top[cubic]:100%;border-radius[cubic]:0em;background:rgb(0,100,100);border-width:0px;" data-12000="top:10%;border-radius:2em;background:rgb(50,230,255);border-width:10px;">
	<h2>Try CliqueMe</h2>
		<%= image_tag 'cliq-suggested.png', width: '250px' %>
	</p>
</div>

<div id="scrollbar" data-0="top:0%;margin-top:2px;" data-end="top:100%;margin-top:-52px;"></div>